body {
  background: #eee;
}

.App {
  margin: 0;
  padding: 0;
}

.App__Header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.App__Header__spacer {
  flex-grow: 1;
}

.App__Body {
  padding: 20px 25px;
  text-align: center;
}

button {
  padding: 9px 20px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 2px;
  border: none;
  background: transparent;
  outline: none;
}

.collapsed {
  margin-left: 50px !important;
  -webkit-transition: margin-left 0.8s;
  -o-transition: margin-left 0.8s;
  transition: margin-left 0.8s;
}

.expanded {
  margin-left: 250px !important;
  -webkit-transition: margin-left 0.8s;
  -o-transition: margin-left 0.8s;
  transition: margin-left 0.8s;
}


.hwxTitle {
  font-size: 3em;
  font-weight: 500;
  color: #333;
  padding: 10px 0;
}
.hwxDescription {
  font-size: 16px;
  color: #666;
  line-height: 1.43;
}